<h5>First Name:</h5>
{{view Ember.TextField valueBinding="firstName"}}

<h5>Last Name:</h5>
{{view Ember.TextField valueBinding="lastName"}}

<h5>Email:</h5>
{{view Ember.TextField valueBinding="email"}}

<br><br>
<button {{action "save"}}>Save</button>
<button {{action "cancel"}}>Cancel</button>