<h3>Edit a Ticket:</h3>

<h5>Title:</h5>
{{view Ember.TextField valueBinding="title"}}

<h5>Description:</h5>
{{view Ember.TextArea valueBinding="description"}}

<h5>Status:</h5>
{{view App.TicketStatus selectionBinding="status"}}

<h5>Reported By:</h5>
{{view App.UserSelect contentBinding="users" selectionBinding="reportedBy"}}


<br><br>
<button {{action "save"}}>Save</button>
<button {{action "cancel"}}>Cancel</button>
