<!-- Turn this into a custom handlebars helper -->
<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd>{{id}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd>{{title}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd>{{description}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Status:</dt>
  <dd>{{status}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Reported By:</dt>
  <dd>{{#linkTo "users.show" reportedBy}}<img {{bindAttr src="reportedBy.gravatarURL"}} width="20"/> {{reportedBy.displayName}} {{/linkTo}}</dd>
</dl>

<br><br><br>
<p>{{#linkTo tickets.edit content classNames="btn"}}Edit Ticket{{/linkTo}}</p>